@using Microsoft.AspNetCore.Components.Web
@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Nanchesoft.Web.Components
@using Nanchesoft.Web.Components.Layout

<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <ResourcePreloader />

    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />

    @* DevExtreme: tema activo como stylesheet (antiFlash + fallback) *@
    <link id="dx-active-theme" rel="stylesheet" href="https://cdn3.devexpress.com/jslib/25.1.6/css/dx.light.css" />

    @* DevExtreme: catálogo de temas disponibles para themes.current() *@
    <link rel="dx-theme" data-theme="generic.light"               href="https://cdn3.devexpress.com/jslib/25.1.6/css/dx.light.css" />
    <link rel="dx-theme" data-theme="generic.dark"                href="https://cdn3.devexpress.com/jslib/25.1.6/css/dx.dark.css" />
    <link rel="dx-theme" data-theme="fluent.saas.light"           href="https://cdn3.devexpress.com/jslib/25.1.6/css/dx.fluent.saas.light.css" />
    <link rel="dx-theme" data-theme="fluent.saas.dark"            href="https://cdn3.devexpress.com/jslib/25.1.6/css/dx.fluent.saas.dark.css" />
    <link rel="dx-theme" data-theme="material.blue.light.compact" href="https://cdn3.devexpress.com/jslib/25.1.6/css/dx.material.blue.light.compact.css" />
    <link rel="dx-theme" data-theme="material.blue.dark.compact"  href="https://cdn3.devexpress.com/jslib/25.1.6/css/dx.material.blue.dark.compact.css" />

    @* AntiFlash: aplica tema guardado ANTES de renderizar *@
    <script src="/js/theme.js"></script>

    <link rel="stylesheet" href="app.css?v=20260524g" />
    <link rel="stylesheet" href="@Assets["Nanchesoft.Web.styles.css"]" />

    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="dx-viewport">
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/25.1.6/js/dx.all.js"></script>
    <script src="/js/ns-crud-grid.js?v=20260518c"></script>
    <script src="/js/ns-navigation.js"></script>
    <script src="/js/ns-shell.js"></script>
    <script src="_framework/blazor.web.js"></script>
</body>

</html>