@page "/produccion/tarifas-destajo"
<PageTitle>Tarifas de destajo | Nanchesoft</PageTitle>
<div class="d-flex justify-content-end gap-2 mb-3 flex-wrap">
    <a class="btn btn-outline-secondary" href="/produccion/destajo">Registros de destajo</a>
</div>
<CatalogCrudPage CatalogKey="piecework-rates" />
