@using static Microsoft.AspNetCore.Components.Web.RenderMode
@using Nanchesoft.Web.Components.Layout

<!DOCTYPE html>
<html lang="es-MX">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />

    <ResourcePreloader />

    <link rel="icon" type="image/png" href="favicon.png" />

    <link rel="stylesheet" href="@Assets["lib/bootstrap/dist/css/bootstrap.min.css"]" />
    <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/25.1.6/css/dx.light.css" />
    <link rel="stylesheet" href="app.css?v=20260526b" />
    <link rel="stylesheet" href="@Assets["Nanchesoft.Web.styles.css"]" />

    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body class="dx-viewport">
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn3.devexpress.com/jslib/25.1.6/js/dx.all.js"></script>
    <script src="https://unpkg.com/exceljs@4.4.0/dist/exceljs.min.js"></script>
    <script src="/js/ns-crud-grid.js"></script>
    <script src="/js/ns-navigation.js"></script>
    <script src="/js/ns-shell.js"></script>
    <script src="https://accounts.google.com/gsi/client" async></script>
    <script src="/js/ns-google-auth.js"></script>
    <script src="@Assets["_framework/blazor.web.js"]"></script>
</body>

</html>
